.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
    box-sizing: border-box;
}

.widgetWrapper {
    position: relative;
    display: flex;
    gap: var(--mantine-spacing-md);
    flex-flow: column;
    width: 350px;
    box-sizing: border-box;
}

.widget {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--mantine-color-dark-8);
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-md);
    box-shadow: var(--mantine-shadow-md);
    border: 1px solid var(--mantine-color-dark-5);
    height: fit-content;
    transition: .4s;
    max-height: 100%;
}

.mobileCreateButton {
    position: absolute;
    bottom: 10px;
    right: 0;
    margin: var(--mantine-spacing-md);
}

.routeWrapper {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);
    flex: 1;
    height: 100%;
    overflow: scroll;
}

.routeContainer {
    background-color: var(--mantine-color-dark-6);
    border-radius: var(--mantine-radius-md);
    padding: 7px;
    display: flex;
    flex-direction: row;
    gap: var(--mantine-spacing-xs);
    justify-content: space-between;
    align-items: flex-start;
}

@media (max-width: em(750)) {
    .container {
        padding: 0px var(--mantine-spacing-xs);
    }
    .widgetWrapper {
        width: 50%;
    }
}