@import '@mantine/core/styles.css';

html {
    color-scheme: normal !important;
}

body {
    height: 100vh;
    background-color: transparent !important;
    overflow: hidden;
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}